/* Genel responsive stil ayarları */

/* Mobil cihazlar için (320px ve yukarısı) */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1,
  h3 {
    font-size: 1.2rem;
  }
}

/* Tabletler için (600px - 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

/* Masaüstü ve büyük ekranlar için (1024px ve yukarısı) */
@media (min-width: 1024px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
