.container {
  background-color: #ffffff;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.navItem {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.signUp {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid #212832;
  background-color: #ffffff;
  gap: 5px;
}

.signUp p {
  margin: 0;
}

.navItem div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.navItem p {
  margin: 0;
}

.navItem svg {
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 100px;
  gap: 5px;
  background-color: #ffffff;
  margin-top: 30px;
}
/* Tablet ve altı */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Dikey hizalama */
    align-items: flex-start; /* Sol hizalama */
  }

  .logo {
    margin-left: 0; /* Sol boşluğu kaldır */
    margin-bottom: 10px; /* Alt boşluk */
  }

  .navContainer {
    width: 100%;
    overflow-x: auto; /* Yatay kaydırma */
  }

  .navList {
    flex-direction: column; /* Dikey hizalama */
    gap: 20px;
  }

  .navItem {
    font-size: 14px; /* Yazı boyutu artırıldı */
  }

  .signUp {
    padding: 5px; /* İç boşluğu küçült */
    font-size: 14px; /* Yazı boyutu artırıldı */
  }

  .content {
    padding: 10px 20px; /* İç boşluğu küçült */
    margin-top: 20px; /* Üst boşluk */
  }
}

/* Mobil */
@media (max-width: 480px) {
  .header {
    padding: 15px; /* İç boşluğu küçült */
  }

  .logo {
    width: 80px; /* Logo boyutu küçült */
  }

  .navList {
    gap: 15px; /* Aralarındaki boşluğu küçült */
  }

  .navItem {
    font-size: 12px; /* Yazı boyutunu küçült */
  }

  .signUp {
    padding: 4px 8px; /* İç boşluğu küçült */
  }

  .content {
    padding: 10px 10px; /* İç boşluğu daha da küçült */
    margin-top: 10px; /* Üst boşluğu küçült */
  }
}
